<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">
<link href="./assets/css/main.css" rel="stylesheet" />
<title>Accesso Consentito</title>
</head>
<body>
	<header id="header">
		<a class="logo" href="index.html">Acme Training Center</a>
		<nav>
			<a th:href="@{/home}">HOME</a>
		</nav>
	</header>
	<header class="special">
		<h1>LOGIN EFFETTUATO CON SUCCESSO</h1>
		<div sec:authorize="hasRole('AMMINISTRATORE')">
			This content is only shown to administrators. <a
				th:href="@{/mostraCentri}">Area Amministratore</a>
		</div>
		<div sec:authorize="hasRole('RESPONSABILE')">
			This content is only shown to users. <a th:href="@{/home}">Area
				Responsabile</a>
		</div>
	</header>
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>INFO</h3>
					<p>Questo sito è stato creato ai fini di un progetto del corso
						di Sistemi Informativi su Web. Anno accademico 2017/2018.</p>
				</section>
				<section>
					<h4>SOCIAL</h4>
					<ul class="plain">
						<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
						<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
						<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
					</ul>
				</section>
			</div>
			<div class="copyright">©BonaiutiPannucciCopyright.</div>
		</div>
	</footer>

</body>

</html>